html,body{
	padding: 0;
	margin: 0;
	font-family: 'microsoft yahei',arial,sans-serif,"SimSun",sans-serif;
}
body{
	background-color: #fafafa;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding:0px;
    margin: 0px;
}

.clearfix {
}

.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}


.footer{
    float: left;
    margin-top: 20px;
    padding-top: 10px;
    width: 100%;
    height: 270px;
    background-color: #fff;
    background-image: url("img/color-border.gif");
    background-repeat: repeat-x;
}

.footer .main{
    width: 800px;
    height: 200px;
    margin: 0px auto;
}

.footer .main li{
    float: left;
    width:179px;
    height: 100%;
    padding:0px 10px;
    border-right: 1px #454545 solid;
}

.footer .rights{
    height: 30px;
    line-height: 30px;
    text-align: center;
}