
.main{
	width: 1200px;
	margin: 20px auto;
}

.content{
	float: left;
	width: 880px;

}


.funs{
	float: left;
	margin-left: 20px;
	width: 300px;
	min-height: 1200px;
}


.reports{
	
}

.report{
	margin-bottom: 20px;
	padding: 10px;
	background-color: #FFF;
	border-radius: 4px;
}

.report .title{
	padding-left: 30px;
	padding-top: 10px;
}
.report .title a{
	color: #000;
	font-weight: bold;
}
.report .title a:hover{
	color: #666;
}
.report .bottom-bar{
}
.report .bottom-bar .read-btn{
	float: right;
	font-size: 14px;
	color: #13b085;
	margin-right: 20px;
	font-family: 'microsoft yahei';
}
.report .bottom-bar .read-btn:hover{
	text-decoration: underline;
}

.report .bottom-bar .date{
	float: right;
	color: #999;
	margin-right: 30px;
}

.report p{
	position: relative;
	padding-left: 290px;
	padding-right: 20px;
	height: 130px;
	overflow: hidden;
	font-size:14px;
	line-height: 26px;
	color: #444;
}

.report p img{
	width: 250px;
    height: 130px;
    position: absolute;
    left: 20px;
    top: 0px;
    border-radius: 6px;
}

.comment{
	float: left;
    width: 300px;
    border-top: 5px #13b085 solid;
    overflow: hidden;
    background-color: #FFF;
	margin-bottom: 20px;
	padding: 20px 0px;
}
.comment .list{
    margin-left:10px;
    margin-right:10px;
}

.ads{
	float: left;
	width: 300px;
	overflow: hidden;
	background-color: #FFF;
	margin-bottom: 20px;
	padding: 0 0 20px 0;
}


.categories{
	float: left;
    width: 300px;
    height: 260px;
    border-top: 5px #13b085 solid;
    overflow: hidden;
    background-color: #FFF;
	margin-bottom: 20px;
}

.categories .list{
    margin: 0 20px;
    overflow: hidden;
}
.categories .list li{
    margin-top: 10px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

.categories .list a{
	font-size: 14px;
   color: #37a;
   text-decoration:none;
}

.categories .list a:hover{
    color: #fff;
    background-color: #37a;
}

.pagination{
	padding:20px 0 30px 0;
}

.page_number{
	padding:0px 30px;
}

.page-btn{
	display: inline;
    padding: 10px 20px;
    color: #fff;
	background-color: #32c6ea;
}

.page-btn:hover{
	background-color: #e0694f;
}

.page-no{
	display: inline;
    padding: 10px 20px;
    color: #fff;
}



.contact{
	width: 400px;
	height: 200px;
	margin: 100px auto;
	background: #FFF;
	border-radius: 6px;
	overflow: hidden;
	padding: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	box-shadow: 0 0 20px #999;
}

