
.main{
	width: 1200px;
	margin: 20px auto;
}

.content{
	float: left;
	width: 880px;

}


.funs{
	float: left;
	margin-left: 20px;
	width: 300px;
	height: 1000px;
}


.reports{
	
}

.report{
	margin-bottom: 15px;
	padding: 10px;
	background-color: #FFF;
	border-radius: 4px;
}

.report p{
	position: relative;
	padding-left: 270px;
	height: 130px;
	overflow: hidden;
}

.report p img{
	width: 250px;
    height: 130px;
    position: absolute;
    left: 0px;
    top: 0px;
}



.categories{
	float: left;
    width: 300px;
    height: 260px;
    border-top: 5px #13b085 solid;
    overflow: hidden;
    background-color: #FFF;
	margin-bottom: 20px;
}

.categories .list{
    margin: 0 20px;
    overflow: hidden;
}
.categories .list li{
    margin-top: 10px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

.categories .list a{
	font-size: 14px;
   color: #37a;
   text-decoration:none;
}

.categories .list a:hover{
    color: #fff;
    background-color: #37a;
}