
.main{
	width: 1200px;
	margin: 20px auto;
}

.content{
	width: 1000px;
	margin: 0 auto;
}

.content .body{
	padding: 30px 50px;
	background-color: #fff;
	border-radius: 6px;
	min-height: 500px;
	box-shadow: 0 0 20px #999;
	
}

.content .body h1{
	padding: 20px 0;
	text-align: center;
}

.content .body  .write{
	font-size: 14px;
	line-height: 2;
	word-wrap:break-word;
	color:#4a4a4a;
}

.content .body  .write p{
	text-indent: 2em;
}