.top-out{
	width: 100%;
	padding-bottom: 10px;
	background-color: #FFF;
	border-bottom: 1px #ccc solid;
}

.top{
	width: 1200px;
	margin: 0px auto;
}

.top .logo{
	float: left;
	width: 290px;
	height: 110px;
	background: url("./img/logo.gif") no-repeat;
}

.top .navigate{
	float: left;
	margin-left: 90px;
	height: 110px;
	line-height: 110px;
}

.top .navigate li{
	float: left;
	margin-left: 20px;
}

.top .navigate li a{
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 6px;
	color: #000;
}
.top .navigate li a:hover{
	background: #33cc99;
	color: #FFF;
}
.top .navigate li .active{
	background: #13b085;
	color: #FFF;
}