
.top{
	width: 1200px;
	margin: 0px auto;
	background: url("./img/color-border.gif") repeat-x bottom;
}

.top .logo{
	float: left;
	width: 290px;
	height: 110px;
	background: url("./img/logo.gif") no-repeat;
}

.top .navigate{
	float: left;
}