---
layout: default
title: shaozilee实验室：不定期发布报告!
---

{%include top.html param="index" %}

<link rel="stylesheet" type="text/css" href="/css/index.css">

<div class="main clearfix">
	<div class="content">
		<ul class="reports">
		{% for post in site.posts %}
		    <li class="report">
		      <a href="{{ post.url }}">{{ post.title }}</a><br>
		      {{ post.excerpt }}
		    </li>
		{% endfor %}
		</ul>
	</div>
	<div class="funs">
		<div class="categories">
                <div class="list">
                    <ul>
                        <li><a href="#">十分容易操作且无需纠结的《防晒要擦多少量》</a></li>
                        <li><a href="#">临死才能说出的秘密</a></li>
                        <li><a href="#">我认为最经典的俄罗斯纪念品</a></li>
                        <li><a href="#">如何评价一美的演技</a></li>
                        <li><a href="#">草木杂说——此物最相思：古代与爱情有关的植物</a></li>
                        <li><a href="#">谁跟他当情人啊，我们这叫哥们</a></li>
                        <li><a href="#">我认为最经典的俄罗斯纪念品</a></li>
                        <li><a href="#">如何评价一美的演技</a></li>
                    </ul>
                </div>
		</div>

		<div class="ads">
			<a href="#">
				<img src="/images/bishengke.jpg">
			</a>
		</div>
	</div>
</div>
