---
layout: default
title: 不定期发布报告!
---

{%include top.html param="index" %}

<link rel="stylesheet" type="text/css" href="/css/index.css">

<div class="main clearfix">
	<div class="content">
		<ul class="reports">
		{% for post in paginator.posts %}
		    <li class="report">
		      <div class="title">
		      	<a href="{{ post.url }}">{{ post.title }}</a>
		      	<span class="date">{{ post.date | date_to_long_string }}</span>
		      </div>
		      {{ post.excerpt }}
		    </li>
		{% endfor %}
		</ul>
		
		<div class="pagination">
		  {% if paginator.previous_page > 1%}
		    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-btn">前一页</a>
		  {% elsif  paginator.previous_page == 1 %}
		  	<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}" class="page-btn">前一页</a>
		  {% else %}
		    <span class="page-no">前一页</span>
		  {% endif %}
		  <span class="page_number ">当前: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		  {% if paginator.next_page %}
		    <a href="/page{{ paginator.next_page }}" class="page-btn">后一页</a>
		  {% else %}
		    <span class="page-no">后一页</span>
		  {% endif %}
		</div>
		
	</div>
	<div class="funs">
		<div class="categories">
                <div class="list">
                    <ul>
                        <li><a href="#">十分容易操作且无需纠结的《防晒要擦多少量》</a></li>
                        <li><a href="#">临死才能说出的秘密</a></li>
                        <li><a href="#">我认为最经典的俄罗斯纪念品</a></li>
                        <li><a href="#">如何评价一美的演技</a></li>
                        <li><a href="#">草木杂说——此物最相思：古代与爱情有关的植物</a></li>
                        <li><a href="#">谁跟他当情人啊，我们这叫哥们</a></li>
                        <li><a href="#">我认为最经典的俄罗斯纪念品</a></li>
                        <li><a href="#">如何评价一美的演技</a></li>
                    </ul>
                </div>
		</div>

		<div class="ads">
			<a href="#">
				<img src="/images/bishengke.jpg">
			</a>
		</div>
	</div>
</div>
