<link rel="stylesheet" type="text/css" href="{{site.url}}/css/top.css">
<div class="top-out">
	<div class="top clearfix">
		<a class="logo" href="{{site.url}}/">
			<img src="{{site.url}}/images/logo.gif">
		</a>

		<ul class="navigate">
			<li><a href="{{site.url}}/" class="{% if include.param == 'index' %}active{% endif %}">Home</a></li>
			<!--
			<li><a href="#" class="{% if include.param == 'reports' %}active{% endif %}">Search</a></li>
			-->
			<li><a href="{{site.url}}/contact.html" class="{% if include.param == 'contact' %}active{% endif %}">Contact</a></li>
		</ul>
	</div>
</div>