<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>shaozilee实验室：{{ page.title }}</title>
{%include base.html%}
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/post.css">
</head>
<body>
{%include top.html%}
<div class="main clearfix">
	<div class="content">
		<div class="body">
			<h1>{{ page.title }}</h1>
			<div class="author">
				<a class="name" href="{{site.baseurl}}contact.html" target="_blank">{{ site.author}}</a>
				<span class="date">{{ page.date | date: "%F" }}</span>

			</div>
			<div class="write">
				{{ content }}
			</div>
			<div class="comment">
				{%include disqus.html%}
			</div>
		</div>
	</div>
</div>
{%include footer.html%}
</body>
</html>